:root {
  --font-color: rgb(211,208,217);
  --lt-gray: rgb(229,226,235);
  --dk-gray: rgb(209,200,217);
  --lt-border: rgb(199,195,209);
  --dk-border: rgb(196,186,210);
}
.title {
  text-align: center;
  color: var(--font-color) !important;
}

.section-header {
  text-align: center;
  color: var(--font-color);
}

.lt-gray-rect {
  padding: 3px;
  background-color: var(--lt-gray);
  border: solid var(--lt-border) 1px;
  height: 50px;
  background-image: url(images/smile-regular.svg);
  opacity: 0.25;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90% 90%;
}

.lt-gray-rect:hover {
  background-image: url(images/smile-wink-regular.svg);
}

.dk-gray-rect {
  background-color: var(--dk-gray);
  border: solid var(--dk-border) 1px;
}